.aboutMe{

    height: 100vh;
    border: 1px solid red;
    background-color: #212529;


}

.aboutMe>div:nth-child(1){

    height: 50px;
    background-color: #ff253a;
    bottom: 20px;
    position: relative;
    margin: 0;
    padding: 0;


}

.aboutMe>div:nth-child(1)>h1{
    position: relative;
    font-size: 50px;
    left: 550px;
    font-family: 'Dekko', cursive;
    font-family: 'Special Elite', cursive;
}

.aboutMe>div:nth-child(2){
    width: 300px;
    height: 300px;
    background-size: cover;
    position: relative;
    border: 5px solid greenyellow;
    left: 200px;
    top: 75px;

}

.aboutMe>div:nth-child(3)>p{
    color: white;
    position: relative;
    left: 600px;
    bottom: 150px;
}

#image{
    width: 100%;
    height: 100%;
}
.aboutMe>div:nth-child(3)>p:nth-child(1){

    left: 750px;
    right: 200px;
    bottom: 300px;
    position: relative;
    font-size: 50px;

}

.aboutMe>div:nth-child(3)>p:nth-child(2){

    font-size: 30px;
    bottom: 300px;
}
.aboutMe>div:nth-child(3)>p:nth-child(3){

    color: darkseagreen;
    font-size: 20px;
    bottom: 300px;

}
.aboutMe>div:nth-child(4){

    position: relative;
    bottom: 214px;
    font-size: 25px;
    color: white;
    left: 834px;
    border: 2px solid red;
    width: 250px;
    background-color: blue;

}