body{
    margin: 0 ;
    overflow-y: hidden;

}

.backgroud{
    width: 300vw;
    height: 100vh;
    background-image: url("../assets/1234.jpg");
    background-position: left;
    background-size: contain;}

#boy{
    position: absolute;
    height: 170px;
    margin-top: 470px;

}

#lion{

    position: absolute;
    height: 170px;
    margin-top: 470px;
    margin-left: 700px;

}

main{


}

