.body{
    margin: 0px ;
}

.backgroud{
    width: 100%;
    height: 100vh;
    background-image: url("../css/assest/1234.jpg");
    background-position: center;
    background-size: cover;
}

#boy{
    position: absolute;
    height: 170px;
    margin-top: 470px;

}

